<div class="container">
  <h1>FU Cards</h1>
  <p>Your were wrong... try again or skip it?</p>
  <p>Term: <%= @card.term %></p>
</div>
<br>
<br>

<form action="/user/:id/deck/:deck_id/guess" method="get"><center>
  <input type="hidden" name="card_id" value="<%=@card_id%>">
  <input type="text" name="guess" placeholder="Type Your Guess Here">
  <input type="submit" value="Quess!"></center>
</form>

<br>
<br>

<form action="/user/:id/deck/:deck_id/skip" method="get"><center>
  <input type="hidden" name="deck_id" value="<%=@deck_id%>">
  <input type="hidden" name="user_deck_id" value="<%=@user_deck_id%>">
  <input type="submit" value="Skip it!"></center>
</form>

<br>
<br>

<form action="/user/:id/deck/:deck_id/done" method="get"><center>
  <input type="hidden" name="deck_id" value="<%=@deck_id%>">
  <input type="hidden" name="user_deck_id" value="<%=@user_deck_id%>">
  <input type="submit" value="Quit"></center>
</form>
