
  <h1><center>Welcome <%= @user.name %>!</center></h1>
<center>
  <p>Which Deck Would You Like?</p>

  <% Deck.all.each do |deck| %>
	  <form action="/user/<%= @user.id %>/deck/<%= deck.id %>" method="post">
      <br>
      <input type="submit" value="<%= deck.name %>">
    </form>
  <% end %>

  <br>
  <br>

  <form action="/sign_out" method="get"><center>
  	<input type="submit" value="Iam Out!"></center>
	</form>

  <h1>Prior Results</h1>


  <% @user_history = UserDeck.where(user_id: @user.id).order(:id) %>
  <% @user_history.each do |deck| %>
    <p> <%=deck.deck.name%>, Played On <%=deck.created_at.strftime("%m/%d/%Y")%>, Deck Completion = <%=deck.results.round(2)%>% </p>
  <%end%>

</center>







