<div class="container">
  <h1>FU Cards</h1>
  <p>Term: <%= @card.term %></p>
<p><%= @post.body %></p>
<%tag_array = @post.tags.to_a %>
<p>Tags</p>
<ul> <% tag_array.each do |tag| %>
  <li> <%=tag.name %></li>
  <%end%>
</div>


<form action="/user/:id/deck/:deck_id/done" method="get"><center>
  <input type="hidden" name="deck_id" value="<%=@deck_id%>">
  <input type="hidden" name="user_deck_id" value="<%=@user_deck_id%>">
  <input type="submit" value="Quit"></center>
</form>
