<div class="container">
  <h1>FU Cards</h1>
  <p>Definition: <%= @card.definition %></p>
</div>
<br>
<br>

<form action="/user/<%=@user.id%>/deck/<%=@card.deck.id%>/guess" method="post"><center>
  <input type="hidden" name="card_id" value="<%=@card.id%>">
  <input type="hidden" name="deck_id" value="<%=@card.deck.id%>">
  <input type="text" name="guess" placeholder="Type Your Guess Here">
  <input type="submit" value="Guess!"></center>
</form>


<br>
<br>

<form action="/user/<%=@user.id%>/deck/<%=@deck.id%>/done" method="post"><center>
  <input type="hidden" name="deck_id" value="<%=@deck.id%>">
  <input type="hidden" name="user_deck_id" value="<%=@user_deck_id%>">
  <input type="submit" value="Quit"></center>
</form>
