<center>
  <h1><%= @user.name%> Results </h1>
  <% @user_deck = UserDeck.find_by(id: session[:user_deck_id]) %>

  <img src="http://media.tumblr.com/2a006cc321899bf82546cc6f86b1201a/tumblr_inline_n7p4rbkAND1qc1jgr.gif">

  <p>Let's look at how you did...</p>
  <p> <%= @user_deck.results.round(2) %>% of the deck was completed!</p>

  <% if @user_deck.results < 30 %>
    <p>That's pretty sad...<p>
  <%elsif @user_deck.results > 90 %>
    <p>You're a damn magician...<p>
  <%else%>
    <p>Not bad...<p>
  <%end%>

  <br>

  <h2>Game History</h2>

  <p>Total Guesses = <%= @user_deck.total_guesses %> </p>
  <br>
  <p>Total Correct = <%= @user_deck.total_correct %> </p>
  <br>
  <p>Total Incorrect = <%= @user_deck.total_incorrect%> </p>

  <h2>User History</h2>

  <% @user_history = UserDeck.where(user_id: @user.id).order(:id) %>
  <% @user_history.each do |deck| %>
    <p> <%=deck.deck.name%>, Played On <%=deck.created_at.strftime("%m/%d/%Y")%>, Deck Completion = <%=deck.results.round(2)%>% </p>
  <%end%>

<br>
<br>

<form action="/" method="get"><center>
  <input type="submit" value="Home"></center>
</form>

<br>
<br>

<form action="/sign_out" method="get"><center>
  <input type="submit" value="Iam Out!"></center>
</form>

</center>